# Jupyter checkpoints
.ipynb_checkpoints/

# Python bytecode/cache
__pycache__/
*.py[cod]
*$py.class

# Python packaging/build artefacts
build/
dist/
*.egg-info/
**/*.egg-info/

# Test artefacts
.pytest_cache/

# VitePress artefacts
node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/
